.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  padding: 92px 45px;
  background-color: #fff;
}

/*контейнер навигации*/
.header__menu {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #000;
}

/*список ссылок*/
.header__links-list {
  display: flex;
  list-style-type: circle;
}

/*пункт списка ссылок*/
.header__links-list-item {
  margin-left: 32px;
}

/*ссылка без кружочка перед ней*/
.header__links-list-item_no-bullit {
  list-style-type: none;
  letter-spacing: normal;
}

/*ссылка*/
.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.01em;
}

/*активная ссылка*/
.header__link_active {
  text-decoration: none;
}

/*логотип*/
.logo-black {
  width: 148px;
  height: 105px;
}

/*контейнер с адресом*/
.address {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.4em;
  color: #000;
  justify-self: end;
  margin-right: 40px;
  width: 205px;
}

.header__contacts {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.01em;
}

/*выравнивание блока с адресом*/
.header__address {
  letter-spacing: 0em;
}

.cover {
  width: 100%;
  height: 757px;
  background-color: rgb(158, 117, 62);
  margin-bottom: 179px;
}

.lots {
  padding: 0px 24px;
  background-color: rgb(38, 38, 134);
  height: 692px;
  margin-bottom: 146px;
}

.about {
  padding: 0px 24px;
  background-color: rgb(104, 38, 134);
  height: 595px;
  margin-bottom: 180px;
}

.footer {
  padding: 0px 50px;
  background-color: rgb(141, 69, 21);
  height: 98px;
  margin-bottom: 88px;
}
